.about {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - var(--navbar-height));
  overflow-x: hidden;
}

.about__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 95%;

  margin: 5%;
}

@media only screen and (max-width: 760px) {
  .about__header {
    width: 100%;
  }
}

.about__header__text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: calc(1rem + 0.5vw);
  font-weight: bold;
  flex: 1;
  margin-bottom: 1em;
}

@media only screen and (max-width: 760px) {
  .about__header__text {
    font-size: 5vw;
    max-width: 99999rem;
  }
}

.about__header__video {
  width: 95%;
  max-width: 45rem;
  object-fit: contain;
  flex: 3;
}

@media only screen and (max-width: 760px) {
  .about__header__video {
    max-width: none;
  }
}

.about__mailingList {
  display: flex;
  flex-direction: column;

  padding: 3rem 0;
  align-items: center;
  text-align: center;

  font-size: 0.9rem;
  font-weight: bolder;

  width: 100%;
  max-width: 30rem;
  border-radius: 0.5rem;
  background-color: var(--bg-color);

  margin-bottom: 5rem;
}

@media only screen and (max-width: 760px) {
  .about__mailingList {
    background-color: var(--fg-color);
  }
}

.about__mailingList__component {
  width: var(--component-width);
  height: var(--component-height);

  border-radius: var(--component-border-radius);
  padding: var(--component-padding-y) var(--component-padding-x);

  margin: 0.75rem;
  outline: none;
  border: none;
}

.about__mailingList__input {
  border-style: solid;
  border-width: 0.0625rem;
  background: none;
  color: var(--font-color);
}

.about__mailingList__button {
  background-color: var(--highlight-color);
  color: var(--font-color);

  width: calc(var(--component-width) + 10%);

  cursor: pointer;
}
