.signUp {
  display: flex;

  width: 100%;
  min-height: calc(100vh - var(--navbar-height));

  align-items: center;
  justify-content: center;

  transition: all 1s;
}

@media only screen and (max-width: 760px) {
    .signUp {
        background-color: var(--bg-color);
    }
}

.label {
  font-size: 0.75rem;
  align-self: flex-start;
  margin-left: calc(1rem + var(--component-padding-x));
}

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);

  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 25rem;
  margin: 2rem 0;

  border-radius: 0.5rem;
}

.logo {
  padding: 10%;
}

/* Button and input could be turned into one css with modifiers */
.component {
  width: var(--component-width);
  height: var(--component-height);

  border-radius: var(--component-border-radius);
  padding: var(--component-padding-y) var(--component-padding-x);

  margin: 0.75rem;
  outline: none;
  border: none;
}

.input {
  border-style: solid;
  border-width: 0.0625rem;
  background: none;
  color: var(--font-color);
}

.button {
  background-color: var(--highlight-color);
  color: var(--font-color);

  width: calc(var(--component-width) + 10%);

  cursor: pointer;
}

.subtext {
  color: var(--font-color);
  display: flex;
  width: 80%;
  justify-content: space-between;
  font-size: 0.8rem;
  padding-bottom: 5%;
}

.subtext__link {
  font-weight: bold;
  cursor: pointer;
}

.errorMessage {
  font-size: 0.8rem;
  color: var(--error-color);
}