.root {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 5rem;
  height: 5rem;
}

.block {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: none;
  color: var(--font-color);
  border-style: solid;
  border-width: var(--component-border-width);
  border-radius: var(--component-border-radius);

  padding: 1rem;
  font-size: 0.5rem;
}

.topBlock {
  background-color: var(--fg-color);
}

.input {
  display: none;
}

.fileUpload {
  display: flex;
  flex-direction: column;

  object-fit: cover;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 0.4rem;

  align-items: center;
  justify-content: center;

  border-style: solid;
  border-width: var(--component-border-width);
  border-radius: var(--component-border-radius);

  width: 5rem;
  height: 5rem;

  cursor: pointer;
}

.delete {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;

  background-color: var(--fg-color);
  color: var(--font-color);

  border-style: solid;
  border-width: var(--component-border-width);
  border-radius: var(--component-border-radius);

  font-size: 1rem !important;

  cursor: pointer;
  z-index: 10;
}

.delete:hover {
  top: 0.375rem;
  left: 0.375rem;
  font-size: 1.25rem !important;
}

.questionDiv {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  flex: 1;
  width: 5rem;
}

.questionInput {
  background: none;
  border-style: solid;
  border-width: var(--component-border-width);
  border-radius: 0.125rem;
  border-color: var(--font-color);

  font-size: 0.5rem;
  width: 5rem;
  height: 0.75rem;
  color: var(--font-color);
  outline: none;
  margin-bottom: 0.25rem;
  flex: 1;
}
