.splitVideo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    outline: none;
    border: none;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.splitVideo__controls {
    position: absolute;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    /* border-color: red;
    border-style: solid;
    background: none; */

    top: calc(97.5% - var(--split-video-icon-size));

    width: 100%;
    z-index: 999;
}

.splitVideo__buttons {
    font-size: 5rem !important;
    height: 5rem !important;
    line-height: 5rem !important;
    width: 5rem !important;
}

.fullScreen {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}