.label {
  font-size: 0.75rem;
  align-self: center;
  width: 75%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  padding:0.5rem;
  flex-direction: column;

  background-color: var(--fg-color);
}

.label__item
{
    display: flex;
    align-items: center;
}

.label__itemIcon
{
    font-size: 0.6rem !important;
    margin-right: 0.5rem;
}