.signUp {
  display: flex;

  width: 100%;
  height: calc(100vh - var(--navbar-height));

  align-items: center;
  justify-content: center;

  transition: all 1s;
}

@media only screen and (max-width: 760px) {
    .signUp {
        background-color: var(--bg-color);
    }
}

.signUp__container {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);

  align-items: center;
  justify-content: center;

  width: 100%;
  max-width: 25rem;

  border-radius: 0.5rem;
}

.signUp__logo {
  padding: 10%;
}

/* Button and input could be turned into one css with modifiers */
.signUp__component {
  width: var(--component-width);
  height: var(--component-height);

  border-radius: var(--component-border-radius);
  padding: var(--component-padding-y) var(--component-padding-x);

  margin: 0.75rem;
  outline: none;
  border: none;
}

.signUp__input {
  border-style: solid;
  border-width: 0.0625rem;
  background: none;
  color: var(--font-color);
}

.signUp__button {
  background-color: var(--highlight-color);
  color: var(--font-color);

  width: calc(var(--component-width) + 10%);

  cursor: pointer;
}

.signUp__subtext {
  color: var(--font-color);
  display: flex;
  width: 80%;
  justify-content: space-between;
  font-size: 0.8rem;
  padding-bottom: 5%;
}

.signUp__subtext__link {
  font-weight: bold;
  cursor: pointer;
}
